<style type="text/css">
  .nfl-logo {
    width: 4em;
  }
</style>
<div id="squaresCtrl">
  <div id="3-col-body" class="grid-block" ng-controller="squaresCtrl">
    <div id="middle-panel" class="grid-block vertical">
      <div class="grid-block align-center shrink">
        <ul style="list-style: none">
          <div ng-repeat="g in games">
            <li>
              <br>
              <a ui-sref="board({id: g.id})" class="full">
                <img class="nfl-logo" ng-src="./assets/images/nfl-icons/{{g.away.toLowerCase()}}.gif">
                {{g.away}} @ {{g.home}}
                <img class="nfl-logo" ng-src="./assets/images/nfl-icons/{{g.home.toLowerCase()}}.gif">
              </a>
            </li>
          </div>
        </ul>
      </div>
]

    </div>
  </div>
</div>